.select {
	border: 1px solid rgba($color: #1308171A, $alpha: 0.1);
	border-radius: 8px;
	padding: 9px;
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	min-width: 196px;
	height: 100%;
	min-height: 18px;
	width: 100%;

	.placeholder {
		color: rgba($color: #000000, $alpha: 0.3);
		font-size: 15px;
	}

	&.input_showed {
		min-width: 196px;
	}

	&:hover {
		border: 1px solid rgba($color: #6E328C7A, $alpha: 0.48);
		box-shadow: 0 0 3px 3px rgba($color: #71308E1F, $alpha: 0.12);
	}
}

.input_showed {
	padding: 0;
}

.input {
	border: none !important;
	box-shadow: none !important;
	min-height: 22px;
	height: 100%;
	min-width: 200px;
	background-color: #ffff;

	&::placeholder {
		color: rgba($color: #000000, $alpha: 0.3);
		font-size: 15px;
	}

	&:focus {
		background-color: #ffff;
	}
}

.select_option {
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;

}

.selected_option {
	background-color: rgba($color: #6E328C0F, $alpha: 0.06);
}

.selected_item {
	background-color: rgba($color: #6E328C0F, $alpha: 0.06);
	padding: 2px 5px 2px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-size: 15px;

}

.cross_btn {
	border: none;
	padding: 0px;

	&:hover {
		background-color: #00000009;
	}
}